* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: #cc8869;
  --text: #333;
  --regular-text: 16px;
  --lineheight: 1.65;
  --usefont: 'roboto_st', sans-serif;
  --systemfont: -apple-system, BlinkMacSyctemFont, Arial, sans-serif;
}


@font-face {
  font-family: 'roboto_st';
  src: url(../fonts/roboto-regular-webfont.woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'roboto_st';
  src: url(../fonts/roboto-italic-webfont.woff2);
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'roboto_st';
  src: url(../fonts/roboto-bolditalic-webfont.woff2);
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'roboto_st';
  src: url(../fonts/roboto-bold-webfont.woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Assassin';
  src: url(../fonts/assassin.woff2)
}

body, html {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
}

.showcase {
  background-color: black;
  height: 100%;
  position: relative;
  color: #fff;
  overflow: hidden;

}

.showcase__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
  z-index: 0;
}
